/* 
    Created on : 2.3.2015, 12:57:10
    Author     : Jiří Ludvar <jiri.ludvar@mediaaction.cz>
*/

@green: #27ae60;
@grey: #DADFE1;
@grey_light: #ccc;
@grey_dark: #999;
@grey_darkest: #2C3E50;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', Verdana, sans-serif;
    color: #434343;

}
a{
    color: @green;
    transition: color 0.5s;

    &:hover{
        color: lighten(@green, 10%);
    }
}
.clr{
    clear: both;
}
p{
    margin-bottom: 1em;
}
img{
    border: 0;
    max-width: 100%;
}

#logo{
    img{
        display: block;
        margin: 20px auto;
    }
}
#all{
    margin: 0 auto 50px;
    max-width: 1200px;
}

#topnav, #sections{
    overflow: hidden;

    li{
        display: inline-block;
        float: left;
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;

        &.active a{
            border-bottom: 3px solid @green;
            background: #fff;
        }
        &.first a{
            border-left: none;
        }
        &.last a{
            border-right: none;
        }
    }
    a{
        color: #434343;
        text-decoration: none;
        display: block;
        border-left: 1px solid #fff;
        border-right: 1px solid @grey_dark;
        border-top: 1px solid #fff;
        border-bottom: 1px solid @grey_dark;
        background: @grey;
        transition: background-color 0.5s;
        height: 50px;

        &:hover{
            background: #fff;
        }
    }
}

#sections{
    background: #dadfe1;

    ul{
        max-width: 1200px;
        margin: 0 auto;
    }
}

#sliders{
    width: 100%;
    height: auto;
    background: @grey_darkest;
    float: left;
    display: none;
}
#slider{
    max-height: 300px;
}
#blog{
    background: @grey_darkest;
    color: #fff;

    #vypisky{
        height: 210px;
        font-size: 0.9em;
    }
    .sisea-search-form{
        padding: 10px 15px;

        fieldset{
            border: none;
            font-size: 0.9em;

            label{
                font-size: 1.2em;
                font-weight: bold;
                color: @grey_light;
                display: block;
                padding-bottom: 10px;
            }
            input[type="text"]{
                border: none;
                padding: 5px;
                width: 100%;
                height: 35px;
                line-height: 35px;
                border-bottom: 2px solid darken(@grey_dark, 10%);
            }
            input[type="submit"]{
                border: none;
                padding: 0 10px;
                width: 100%;
                height: 35px;
                line-height: 35px;
                float: right;
                text-align: center;
                cursor: pointer;
                background: @green;
                color: #fff;
                font-size: 1em;
                border-bottom: 2px solid darken(@green, 10%);
                transition: background-color 0.5s;
                margin-top: 10px;

                &:hover{
                    background: lighten(@green, 10%);
                }
            }
        }
    }
    a{
        display: block;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
    strong{
        font-size: 1.2em;
        padding: 10px 15px;
        color: @grey_light;
        display: block;
    }


    .item{
        border-bottom: 1px solid darken(@grey_dark, 10%);
        overflow: hidden;
        padding: 6px 15px;
        color: @grey_light;

        &.last, &:nth-child(4){
            border-bottom: none;
        }
        .left{
            float: left; 
        }
        .right{
            float: right;
        }
    } 
}
#sm, #social{
    height: 50px;
    width: 100%;
    overflow: hidden;

    a{
        display: inline-block;
        width: 100% /7;
        float: left;
        line-height: 50px;
        text-align: center;
        font-size: 1.3em;
        cursor: pointer;
        transition: background-color 0.2s;
        color: #fff !important;
    }
    .fb{
        background: darken(#3a5999, 10%); 
        &:hover{
            background: #3a5999;
        }
    }
    .twitter{
        background: darken(#3aa9de, 10%); ;
        &:hover{
            background: #3aa9de;
        }
    }
    .gplus{
        background: darken(#d14836, 10%); ;
        &:hover{
            background: #d14836;
        }
    }
    .youtube{
        background: darken(#cc332d, 10%); ;
        &:hover{
            background: #cc332d;
        }
    }
    .twitch{
        background: darken(#67217a, 10%); ;
        &:hover{
            background: #67217a;
        }
    }
    .tumblr{
        background: darken(#2c4762, 10%); ;
        &:hover{
            background: #2c4762;
        }
    }
    .rss{
        background: darken(#ff8300, 10%); 
        &:hover{
            background: #ff8300;
        }
    }
}
#social{
    height: auto; 
    
    a{
        width: 50px;
        height: 50px;
    }
}
.submitted{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 5px 0 20px;
}
#container{
    overflow: hidden;
}
#menu{
    background: #999;


    .item{
        height: 75px;
        font-size: 0.9em;
        background: @grey;
        cursor: pointer;
        transition: background-color 0.5s;
        border-top: 1px solid #fff;
        border-bottom: 1px solid @grey_dark;


        &:hover, &.active{
            background: #fff;
        }

        strong{
            display: block;
            font-size: 1.1em;
            margin-top: 13px;
        }
        .ikona{
            float: left;
            width: 70px;
            height: 70px;
            background-size: 70px;
            margin-top: 3px;
            margin: 1px 15px 0 10px;

            > div{
                width: 67px;
            }
        }
        a{
            display: block;
            width: 100%;
            padding-right: 10px;
            color: #434343;
            text-decoration: none;
        }
    }
}
#menu, #sections, #topnav{
    .separator{
        font-weight: bold;
        text-align: center;
        border-top: 1px solid #fff;
        border-bottom: 1px solid darken(@grey_dark, 20%);
        background: darken(@grey,10%);
        height: 2em;
        line-height: 2em;

        a{
            color: #434343;
            text-decoration: none;
            font-weight: bold;
            border: none;
            display: block;
        }
    }
    .inner{
        display: none;
    }
}
#odznaky{
    display: none;

    img{
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
}
#main{
    padding: 20px 30px;
    background: #fff;
    clear: both;
}
#footer{
    color: #fff;
    text-align: right;
    font-size: 0.9em;
    padding: 5px 0;
}


.sisea-paging{
    font-size: 0.9em;
    padding: 10px 0 30px;

    .sisea-result-pages{
        display: block;
    }
}
.sisea-search-form{
    clear: both;
}
.nivo-controlNav{
    padding: 0;
    text-align: left;
}
.nivo-directionNav a{
    color: #fff;
    padding: 10px 20px;
    top: 30%;
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover{
        opacity: 1;
    }
}
.nivo-caption {
    background: rgba(0,0,0,0.6);
    opacity: 1;

    a{
        text-decoration: none; 
    }

}
.nivo-controlNav.nivo-thumbs-enabled{
    .nivo-control{
        opacity: 0.5;
        transition: opacity 0.5s;
        margin-right: 0.3px;

        &.active, &:hover{
            opacity: 1;
        }
    }
}

.gal-item{
    display: inline-block;
}

#lbImage {
    z-index:9999;
}
div#lbCenter,
div#lbOverlay,
div#lbBottomContainer {
    z-index: inherit;
}